<div *ngIf="student" >
  Student: <a href="#" (click)= "clicked()">{{student?.name}}</a>
    <div *ngIf="student?.isJedi">
      Jedi Temple: {{student?.temple}} <button (click)= "description.focus()">Focus!</button><br />
      <textarea #description></textarea>
    </div>
</div>
<p *ngIf="!student">
  Sem dados para exibir
</p>